
      body {
        font-family: Arial, sans-serif;
        background-color: #222;
        color: #fff;
        margin: 0;
        padding: 0;
      }
      
      h1 {
        font-size: 36px;
        text-align: center;
        margin: 20px 0;
      }
      
      h2 {
        font-size: 24px;
        text-align: center;
        margin-top: 40px;
      }
      
      img {
        padding: auto;
        display: block;
        margin: 0 auto;
        width: auto;
        height:auto;
      }
      
      .data-container {
        margin: 40px 0;
        padding: 20px;
        background-color: #333;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }
      
      p {
        margin: 10px 0;
        font-size: 18px;
      }
      
      ul {
        list-style-type: circle;
        margin: 0;
        padding: 0;
      }
      
      #name {
        text-decoration: cyan;
        text-align: center;
        font-size: 48px;
        margin-bottom: 20px;
      }
      
      #character-list li {
        display: inline-block;
        margin-right: 10px;
        cursor: pointer;
        border-radius: 5px;
        background-color:#444;
        padding: 5px 10px;
      }
      
      #character-list li:hover {
        background-color: #555;
      }
      
      span {
        font-weight: bold;
      }
    
